@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
  border-radius: 50px;
}

.active {
  background: rgb(229, 232, 235);
}
